.header {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-bottom: 50px;
    max-height: 150px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    background: var(--ifm-code-background);
}

.info>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}