.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.marker_container {
  position: relative;
  margin: 0 var(--ifm-leading) var(--ifm-leading);
  display: inherit;
}

.marker_container_highlight {
  border: 2px solid #666;
  border-radius: 5px;
}

.marker_indicator {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: brown;
  border-radius: 50%;
  color: white;
  text-align: center;
}