.apkLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.apkLinks>a {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}

.webAppLink {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    min-width: 162px;
    border: solid var(--ifm-color-primary) 2px;
    font-weight: 600;
}