.preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
  object-fit: cover;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}

.preview>div:first-child {
  position: relative;
  left: 30%;

  z-index: 1;
}

.screen {
  z-index: -1;
  overflow: hidden;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  position: absolute;
  padding-top: 5%;
  top: 2%;
  margin-right: 18%;
  margin-left: 18%;
  max-height: 76%;
  background: var(--ifm-background-surface-color);
}

.screen>img {
  position: relative;
  z-index: -2;
}

.preview>div:last-child {
  position: relative;
  margin-top: 30%;
  left: -30%;
  z-index: 1;
}

.fullscreen {
  z-index: -1;
  border-radius: 5%;
  max-height: 92%;
  position: absolute;
  left: 0;
  top: 2%;
  margin-right: 18%;
  margin-left: 18%;
}

.frame {
  max-height: 1040px;
}