:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.lds-bar, .lds-progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  position: relative;
  background: #FFF;
  overflow: hidden;
  border: #000 solid 2px;
  border-radius: 2px;
}
.lds-progress>span {
  height: 80%;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.lds-bar>span {
  width: 30%;
  height: 80%;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 0;
  box-sizing: border-box;
  animation: lds-bar 2s linear infinite;
}
@keyframes lds-bar {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
